.row > img{
	margin-bottom: 40px;
}

.shadedPanel{
	background-color: #F5F5F5;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
	border-style: outset;
    border-width: 1px;
    font-size: 20px;
}

.descriptionText{
	font-weight: normal;
	font-style: oblique;
	font-size: 15px;
}