#dashboard {
	background-color: white;
	padding:2%;
}

.pane {
	margin: auto;
	width: 75%;
}

div.pane {
	margin-top: 2%;
	padding:20px;
}

.categoryFilter{
	position: fixed;
    left: 23px;
    top: 150px;
}

